.side-logo {
    color: #fff;
    height: 18px;
    vertical-align: middle;
}

.greyed {
    background-color: grey;
}

.app-header {
    background-color: #263238;
    height: 32px;
    /* padding: 10px ; */
}

.after-login {
    float: right;
    display: flex;
}